[Desktop Entry]
Name=FreeCAD
Comment=Parametric 3D CAD Modeler
Exec={{ freecad_install_dir }}/{{ freecad_appimage_file }}
Icon={{ freecad_icon_file }}
Terminal=false
Type=Application
Categories=Graphics;Science;Education;
StartupNotify=true
